@model NewsRoom.Web.ViewModels.NavBarModelView


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @foreach (var category in Model.Categories)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="ByName" asp-controller="Categories" asp-route-name="@category.Title">@category.Title</a>
        </li>
    }
</ul>