@model NewsRoom.Web.ViewModels.SideBarNewsViewModels

<h5>Last news</h5>
<hr />

@foreach (var news in Model.News)
{
    <ul class="list-unstyled">
        <li class="media">
            <a asp-controller="News" asp-action="ById" asp-route-id="@news.Id">
                <div class="d-inline-flex">
                    <img class="mr-1" height="50" width="50" src="@news.ImageUrl" alt="image">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">@news.Title</h6>
                        @Html.Raw(news.SanitizedContent.Substring(0, 100) + "...")
                    </div>
                </div>
            </a>
        </li>
    </ul>
}

<div class="g-mb-20">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
        <h3 class="h4 g-color-black mb-0">Времето</h3>
    </div>
    <article class="media g-mb-10">
        <iframe src="https://forecabox.foreca.com/get/44840" width="300" height="250" marginwidth="0"
                marginheight="0" frameborder="0" scrolling="no" allowtransparency="true" title="Времето"></iframe>
    </article>
</div>
